{% extends 'base.html' %}


   <section id="contact" class="s-contact ss-dark target-section">

        <div class="row heading-block" data-aos="fade-up">
            <div class="column large-full">
                <a href=""></a> <h2 class="section-heading">Связаться</h2>
            </div>
        </div>

        <div class="row contact-main" data-aos="fade-up">
            <div class="column large-full">

                <p class="section-desc">
                Буду рад общению, выслушаю и помогу. Давайте работать вместе и строить
                что-то потрясающее. Давайте превратим вашу идею в еще более качественный продукт.
                <a href="https://www.linkedin.com/in/maksat-kydyrov-81129a228/">Linkedin</a>.
                </p>
            </div>
            <p class="contact-email">
                    <a href="mailto:kydyrov2001@list.ru">kydyrov2001@list.ru</a>
                </p>
        </div>

        <div class="row contact-infos" data-aos="fade-up" data-aos-anchor=".contact-main">

            <div class="column large-5 medium-full contact-phone">
                <h4>Позвоните мне</h4>
                <a>+996 778 402 001</a>
            </div>

            <div class="column large-7 medium-full contact-social">
                <h4>Social</h4>
                <ul>
                    <li><a href="https://www.instagram.com/big.01.user/" title="Instagram">Instagram</a></li>
                    <li><a href="https://github.com/Ciber-401" title="Gihub">Gihub</a></li>
                    <li><a href="https://t.me/Ciber_401" title="Telegram">Telegram</a></li>

                </ul>
                <ul><li><a href="https://www.facebook.com/profile.php?id=100069791001662" title="Facebook">Facebook</a></li></ul>
            </div>

        </div> <!-- end contact-infos -->

    </section> <!-- end s-contact -->
]

{% endblock %}