{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- intro
    ================================================== -->
    <section id="intro" class="s-intro target-section">

        <div class="row intro-content">

            <div class="column large-9 mob-full intro-text">
                <h3>Привет, i'am Maks</h3>
                <h1>

                    Backend
                    <br>
                    Разработчик

                </h1>
            </div>

            <div class="intro-scroll">
                <a href="#about" class="intro-scroll-link smoothscroll">
                    Крути, чтобы узнать больше
                </a>
            </div>

            <div class="intro-grid"></div>
            <div class="intro-pic"></div>

        </div> <!-- end row -->

    </section> <!-- end intro -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="about-me">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">Обо мне</h2>
                </div>
            </div>

            <div class="row about-me__content" data-aos="fade-up">
                <div class="column large-full about-me__text">
                        <p class="lead">
                            <h2>
                                Как я на это смотрел
                        </h2>
                    Всегда увлекался веб-разработкой.
                    Фильмами про хакеров и то как они пишут коды.
                        <hr>
                    Дико завлекало атмосфера программистов технологий гаджетов.
                    Хочу работать над разнообразными проектами.
                    Есть небольшой опыт с Python.
                    Так же с Django Rest Framework.
                    Занимаюсь лёгкой атлетикой.
                    Посещаю научные конференции и хакатоны.
                        </p>

                    <p>
                        Я долго щёл к этому, осозновал что вот время идёт и надо как то найти себе место в
                        жизни и окончательно поставил точку в рещении уже когда пошёл на курсы по
                        программированию и ознакомился с тем что вообще это из себя проедставляет.
                        Конешно не бывает лёгких путей, просто подойти изучить и выйти на заработок.

                        <h2>
                            And Хобби
                        </h2>
                    </p>

                        <p>
                    Увлекаюсь Basketball с детсва смотрел как играют.
                    Как то раз просто сидя на скамейке заинтересовался катанием на скейтборде,
                    а потом это стало для меня не только игрой или просто средством передвижения но и просто чем то дополнительным что я умею.
                        </p>

                        <p>
                    Легко завожу новые знакомства.
                    Это неотъемлемая часть моей работы, так как мне постоянно приходится иметь дела с разными людьми,
                    и их требованиям по заказу да элементарно.
                        <hr>
                    Постоянно повышаю квалификацию.
                    Ну уж в моей работе посидеть подумать придётся, спокойно отношусь к рутинной работе.
                    Я придерживаюсь того факта что "Клиент всегда прав"
                        </p>

                </div>
            </div>

            <div class="row about-me__buttons">
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a class="btn btn--stroke full-width">Найми меня</a>
                </div>
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="#0" class="btn btn--primary full-width">Скачать резюме</a>
                </div>
            </div>

        </div> <!-- end about-me -->

        <div class="about-experience">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">Работа и образование</h2>
                </div>
            </div>

            <div class="row about-experience__timeline">

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--work"></span>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">Декабрь 2021 - ITC_BOOTCAMP</p>
                                <h3 class="item-title">Потрясающая аудитория</h3>
                                <h5>Стажёр, Ассистент</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>
                                    Учавствовал в развитиии начинающих сфере IT а конкретно на языке Python,
                                    помогал нашему ментору, в соответсвии с поставленными на меня задачами.
                                </p>
                            </div>
                        </div>

<!--                        <div class="timeline__block">-->
<!--                            <div class="timeline__bullet"></div>-->
<!--                            <div class="timeline__header">-->
<!--                                <p class="timeline__timeframe">July 2017 - June 2018</p>-->
<!--                                <h3 class="item-title">Супер крутое агентство</h3>-->
<!--                                <h5>Фронтенд-разработчик</h5>-->
<!--                            </div>-->
<!--                            <div class="timeline__desc">-->
<!--                                <p>Родных негров не бывает и в боли виноваты-->
<!--                                    если он не желает быть в великом наполнителе труда, они оставляют его?-->
<!--                                    быть, но жаждать увидеть, что нет пищи для наших трудов, ослепляет нашу боль-->
<!--                                    как низкие, как черные доступны только.</p>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="timeline__block">-->
<!--                            <div class="timeline__bullet"></div>-->
<!--                            <div class="timeline__header">-->
<!--                                <p class="timeline__timeframe">March 2016 - June 2017</p>-->
<!--                                <h3 class="item-title">Студия Эпического Дизайна</h3>-->
<!--                                <h5>Фронтенд-разработчик</h5>-->
<!--                            </div>-->
<!--                            <div class="timeline__desc">-->
<!--                                <p>Домашние негры избегают боли-->
<!--                                    ошибка, если не из отличного наполнителя, если он не жаждет работы-->
<!--                                    они отказываются от существования такого человека-->
<!--                                    Наша боль закрывает нам глаза на боль от того, что мы находимся на уровне черных, если только это не приносит удовольствия.</p>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>
                </div>

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--education"></span>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">Сентябрь 2007 - Май 2019</p>
                                <h3 class="item-title">Средняя школа</h3>
                                <h5>Среднее образование</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>
                                    Окончил среднюю школу,
                                    Школу закончил на отлично с похвалами.
                                    А дальше никуда и не поступал так как не было на тот момент чёткого понятия чего я хочу.
                                    И просто дал себе время подумать чем заняться и найти себе место в жизни.

                                </p>
                            </div>
                        </div>

<!--                        <div class="timeline__block">-->
<!--                            <div class="timeline__bullet"></div>-->
<!--                            <div class="timeline__header">-->
<!--                                <p class="timeline__timeframe">Ноябрь 2021 - Февраль 2022</p>-->
<!--                                <h3 class="item-title">Курсы по програ</h3>-->
<!--                                <h5>Степень бакалавра</h5>-->
<!--                            </div>-->
<!--                            <div class="timeline__desc">-->
<!--                                <p>Домашние негры избегают боли-->
<!--                                    ошибка, если не из отличного наполнителя, если он не жаждет работы-->
<!--                                    они отказываются от существования такого человека-->
<!--                                    Наша боль закрывает нам глаза на боль от того, что мы находимся на уровне черных, если только это-->
<!--                                    не приносит удовольствия</p>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="timeline__block">-->
<!--                            <div class="timeline__bullet"></div>-->
<!--                            <div class="timeline__header">-->
<!--                                <p class="timeline__timeframe">July 2005 - June 2009</p>-->
<!--                                <h3 class="item-title">Школа сильных ударов</h3>-->
<!--                                <h5>Степень бакалавра</h5>-->
<!--                            </div>-->
<!--                            <div class="timeline__desc">-->
<!--                                <p>Домашние негры избегают боли-->
<!--                                    ошибка, если не из отличного наполнителя, если он не жаждет работы-->
<!--                                    они отказываются от существования такого человека-->
<!--                                    Наша боль закрывает нам глаза на боль от того, что мы находимся на уровне черных, если только это-->
<!--                                    не приносит удовольствия</p>-->
<!--                            </div>-->
                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- end about-experience -->

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id="services" class="s-services ss-dark target-section">

        <div class="shadow-overlay"></div>

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading section-heading--centerbottom">Возможности</h2>

                <p class="section-desc">
                    Моя страсть и цель - помочь вам сделать ваш бизнес выдающимся.
                </p>
            </div>
        </div> <!-- end heading-block -->

        <div class="row services-list block-large-1-3 block-medium-1-2 block-tab-full">

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Фирменный стиль</h4>
                    <p>
                    Мне важно понять чего желает от меня клиент и воплотить его фантазии в реальность,
                        показать наглядно что можно сделать всего с нескольким манипуляциями для его бизнеса или идеей в жизни
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Иллюстрация</h4>
                    <p>
                        Ко всему надо подходить с креотивностью чего я обожаю.
                    <hr>
                    Photoshop, Adobe Illustrator, After Effects.
                    <hr>
                    Final Cut Pro, Premiere Pro
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Frontend</h4>
                    <p>
                    Надо относитья серьёзнее к своей работе и учиться на своих ошибках.
                        Веб дизайн, когда мы перейдём к этому вопросу будем подробнее воплошать идеи
                    <hr>
                     JavaScript, React, NodeJS, Html, CSS.
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Backand</h4>
                    <p>
                        Базовое владение языком "Python".
                    <hr>
                        Django Rest Framework.
                    <hr>
                        Работа с базами данных таких как - PostgreSQL, SQLite3.
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">TelegramBOT-Parsing</h4>
                    <p>
                  TelegramBOT - целенаправленно какими либо возможностями которым он должен соответствовать.
                    <hr>
                    Спарсить сайт добыть вам какие либо данные с сайта не проблема
                    </p>
                </div>
            </div>

<!--            <div class="column item-service" data-aos="fade-up">-->
<!--                <div class="item-service__content">-->
<!--                    <h4 class="item-title"></h4>-->
<!--                    <p>-->
<!--                    Может продолжаться с дискомфортом. Мы так вдыхаем боль. избегать последствий будь он или она-->
<!--                    выбранный им. Выберите удовольствие, с которым вы сталкиваетесь, или преследуйте свою жизнь. Удовольствия выбора-->
<!--                    это чрезвычайно требовательно, потому что это чрезвычайно сложно и нежелательно. Боль и стресс.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- CTA
    ================================================== -->
    <section class="s-cta ss-dark">

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-desc">
                   Нужен отличный надежный хостинг?
                </h2>
            </div>
        </div> <!-- end heading-block -->

        <div class="row cta-content" data-aos="fade-up">
            <div class="column large-full">
                <p>
                Мы настоятельно рекомендуем<a href="https://www.dreamhost.com/r.cgi?287326">Хозяин мечты</a>.
                Мощный веб и Wordpress хостинг. Гарантировано.
                Начиная с $ 2,95 в месяц.
                </p>

                <a href="https://www.dreamhost.com/r.cgi?287326" class="btn full-width">Начать</a>
            </div>
        </div> <!-- end ad-content -->

    </section> <!-- end s-cta -->


    <!-- works
    ================================================== -->
    <section id="works" class="s-works target-section">

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading section-heading--centerbottom">Избранные работы</h2>
                <p class="section-desc">
                    Вот некоторые из моих избранных работ, которые я сделал в последнее время. Не стесняйтесь
                    Проверь их.
                </p>
            </div>
        </div> <!-- end heading-block -->

        <div class="masonry-wrap">

            <div class="masonry">
                <div class="grid-sizer"></div>

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="{% static 'images/portfolio/gallery/g-city-building.jpg' %}" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                <img src="{% static 'images/portfolio/city-building.jpg' %}"
                                     srcset="{% static 'images/portfolio/city-building.jpg' %}
                                     {% static 'images/portfolio/city-building@2x.jpg' %} " alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                        </div>

                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Городское здание
                            </h4>
                            <p class="item-folio__cat">
                               Брендинг
                            </p>
                        </div>

                        <div class="item-folio__caption">
                            <p>Но это раздражало, или было рождено, чтобы поймать его.
                                И раз никогда. Во времена праведников, откуда приходит боль разврата и не только.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="{% static 'images/portfolio/gallery/g-woodcraft.jpg' %}" class="thumb-link" title="Woodcraft" data-size="1050x700">
                                <img src="{% static 'images/portfolio/woodcraft.jpg' %}"
                                     srcset="{% static 'images/portfolio/city-building.jpg' %}{% static 'images/portfolio/city-building@2x.jpg' %}" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                              Вудкрафт
                            </h4>
                            <p class="item-folio__cat">
                               Веб-дизайн
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>Но это раздражало, или было рождено, чтобы поймать его. И раз никогда.
                                Во времена праведников, откуда приходит боль разврата и не только.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="{% static 'images/portfolio/gallery/g-beetle.jpg' %}" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img src="{% static 'images/portfolio/the-beetle.jpg' %}"
                                     srcset="{% static 'images/portfolio/city-building.jpg' %}{% static 'images/portfolio/city-building@2x.jpg' %}" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                               Жук
                            </h4>
                            <p class="item-folio__cat">
                                Веб-разработка
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>Но это раздражало, или было рождено, чтобы поймать его. И раз никогда.
                                Во времена праведников, откуда приходит боль разврата и не только.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="{% static 'images/portfolio/gallery/g-shutterbug.jpg' %}" class="thumb-link" title="Grow Green" data-size="1050x700">
                                <img src="{% static 'images/portfolio/shutterbug.jpg' %}"
                                     srcset="{% static 'images/portfolio/city-building.jpg' %}{% static 'images/portfolio/city-building@2x.jpg' %}" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Шаттербаг
                            </h4>
                            <p class="item-folio__cat">
                                Брендинг
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>Но это раздражало, или было рождено, чтобы поймать его. И раз никогда.
                                Во времена праведников, откуда приходит боль разврата и не только.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="{% static 'images/portfolio/gallery/g-lamp.jpg' %}" class="thumb-link" title="Guitarist" data-size="1050x700">
                                <img src="{% static 'images/portfolio/lamp.jpg' %}"
                                     srcset="{% static 'images/portfolio/city-building.jpg' %}{% static 'images/portfolio/city-building@2x.jpg' %}" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Фонарь
                            </h4>
                            <p class="item-folio__cat">
                                Веб-дизайн
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>Но это раздражало, или было рождено, чтобы поймать его. И раз никогда.
                                Во времена праведников, откуда приходит боль разврата и не только.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="{% static 'images/portfolio/gallery/g-fuji.jpg' %}" class="thumb-link" title="Palmeira" data-size="1050x700">
                                <img src="{% static 'images/portfolio/fuji.jpg' %}"
                                     srcset="{% static 'images/portfolio/city-building.jpg' %}{% static 'images/portfolio/city-building@2x.jpg' %}" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Фудзи
                            </h4>
                            <p class="item-folio__cat">
                                Веб-дизайн
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p> Но это раздражало, или было рождено, чтобы поймать его. И раз никогда.
                                Во времена праведников, откуда приходит боль разврата и не только.</p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->

            </div> <!-- end masonry -->

        </div> <!-- end masonry-wrap -->

    </section> <!-- end s-work -->


    <!-- testimonies
    ================================================== -->
    <section class="s-testimonials">

        <div class="row testimonials" data-aos="fade-up">

            <div class="column large-full testimonials__slider">

                <div class="testimonials__slide">
                    <p>Настоящие досадные последствия любого инцидента, например, большие. Удовольствие — вопрос времени.
                    Они могут искать способ объяснить, но они не думают, что это может иметь какую-то боль или последствия. Если боль стремится к бегству, то для нас ничего нет.
                    Спасибо за тяготы, которые сопровождают выбранный вами порок.</p>
                    <div class="testimonials__info">
                        <img src="{% static 'images/avatars/user-02.jpg' %}" alt="Author image" class="testimonials__avatar">
                        <cite class="testimonials__cite">
                            <strong>Tim Cook</strong>
                            <span>CEO, Apple</span>
                        </cite>
                    </div>
                </div> <!-- end testimonials__slide -->

                <div class="testimonials__slide">
                    <p>Прими его, ибо он отталкивает вину желанием облегчить боль. Простите тех, к достижению которых отталкивает удовольствие ума.
                    Если только эти симптомы не последуют. Нам приятно встретить самых достойных обвинителей.
                        Это как если бы удовольствие отличало. И большинство из них.</p>
                    <div class="testimonials__info">
                        <img src="{% static 'images/avatars/user-01.jpg' %}" alt="Author image" class="testimonials__avatar">
                        <cite class="testimonials__cite">
                            <strong>Sundar Pichai</strong>
                            <span>CEO, Google</span>
                        </cite>
                    </div>
                </div> <!-- end testimonials__slide -->

                <div class="testimonials__slide">
                    <p>Отталкивает самых достойных свободы. Но тот, кто ненавидит беспрепятственное удовольствие, развращен. Я ничего об этом не знаю. Мы думаем либо, но не это.
                    Более того, мы обвиняем эти услуги в удовольствии. Это как если бы удовольствие отличало.
                    Это удовольствие для самых достойных.</p>
                    <div class="testimonials__info">
                        <img src="{% static 'images/avatars/user-04.jpg' %}" alt="Author image" class="testimonials__avatar">
                        <cite class="testimonials__cite">
                            <strong>Satya Nadella</strong>
                            <span>CEO, Microsoft</span>
                        </cite>
                    </div>
                </div> <!-- end testimonials__slide -->

            </div> <!-- end testimonials__slider -->

        </div> <!-- end testimonials -->

    </section> <!-- end s-testimonials -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="column large-full ss-copyright">
                <span></span>
                <span><a></a></span>
            </div>

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
       <p style="color: white;">Contact me</p>
        </div>
    </footer>


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->

    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}